body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(120deg, rgba(255, 255, 255, 1), #84858443);
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white; /* Cor de fundo da barra */
    padding: 10px 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra abaixo da barra */
    z-index: 1000; /* Garante que a barra fique acima do conteúdo */
  }
  
  .navbar button {
    background-color: #a014f757; /* Cor do botão */
    color: white; /* Cor do texto */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-items: end;

    margin-left: 50px; /* Espaçamento entre botões */
    transition: background-color 0.3s ease; /* Efeito ao passar o mouse */
  }

  .navbar button:hover {
    background-color: #a014f7c1; 
  }
  .logo {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 10px; /* Espaçamento interno ao redor da imagem */
background-color: #fff; /* Opcional: Define uma cor de fundo para a div */
border-radius: 5px; /* Arredonda os cantos da div, opcional */
margin-right: 30px;
  }
  
  .logo img {
    display: block;
    width: 70px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin: 0;
    padding: 0;
    
    border-radius: 5px; /* Bordas arredondadas, ajuste se necessário */
  }
  h1 {
    color: #a014f757;;
  }
  .button-div {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    position: absolute;
 
    padding: 10px 10px;
    background-color: #a014f757;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
  }

  .button-div img {
    width: 20px;
    height: 20px;
    
  }

  .button-div:hover {
    background-color: #a014f7c1;
  }
  .navbar-text {
    margin-left: 50px;
  }